<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <a href="/" class="btn">Home</a>
        <a href="/add-user" class="btn border">Add User + </a>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">address</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < dataTB.length; i++) { %>
              <tr>
                <td>
                  <%= dataTB[i].email %>
                </td>
                <td>
                  <%= dataTB[i].firstName %>
                </td>
                <td>
                  <%= dataTB[i].lastName %>
                </td>
                <td>
                  <%= dataTB[i].adress %>
                </td>
                <td>
                  <div class="d-flex">
                    <a href="/edit-user?id=<%= dataTB[i].id %>" type="button" class="btn btn-light me-3">Edit</a>
                    <form action="/del-crud" method="post">
                      <input type="text" name="id" value="<%= dataTB[i].id %>" hidden />
                      <button type="submit" class="btn btn-light">Del</button>
                    </form>
                  </div>
                  
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>